:root {
  --padding: 4rem;
  --border: #333;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 4rem;
}
h3 {
  font-size: 2.8rem;
}
body {
  background: #000000;
  color: #ffffff;
  font-family: system-ui, sans-serif;
}
.heading {
  line-height: 2;
  font-weight: 900;
}

.section-container {
  padding: var(--padding);
  background: linear-gradient(to bottom, #000000 5%, rgba(0, 0, 0, 0.211));
  backdrop-filter: blur(3px);
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
}
.section-container a {
  color: #ffffff;
}
.spacer {
  height: 18rem;
  width: 100%;
}
.schedule-container {
  overflow: auto;
}
.schedule-stage__wrapper {
  display: inline-block;
}
.schedule-stage {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  grid-gap: 2rem;
  padding-bottom: 5rem;
  padding-top: 2rem;
  min-width: 100vw;
}
.schedule-stage::after {
  content: "";
  width: var(--padding);
}
.divider {
  position: sticky;
  left: 0;
  border: none;
  border-bottom: 1px solid var(--border);
}
.schedule-stage__wrapper .schedule-stage > .schedule-stage__title > h3 {
  background: linear-gradient(45deg, cyan 20%, rgba(0, 255, 255, 0.399) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* .schedule-stage__wrapper:nth-child(2)
  .schedule-stage
  > .schedule-stage__title
  > h3,
.schedule-stage__wrapper:nth-child(4)
  .schedule-stage
  > .schedule-stage__title
  > h3,
.schedule-stage__wrapper:nth-child(6)
  .schedule-stage
  > .schedule-stage__title
  > h3,
.schedule-stage__wrapper:nth-child(8)
  .schedule-stage
  > .schedule-stage__title
  > h3,
.schedule-stage__wrapper:nth-child(10)
  .schedule-stage
  > .schedule-stage__title
  > h3,
.schedule-stage__wrapper:nth-child(12)
  .schedule-stage
  > .schedule-stage__title
  > h3,
.schedule-stage__wrapper:nth-child(14)
  .schedule-stage
  > .schedule-stage__title
  > h3,
.schedule-stage__wrapper:nth-child(16)
  .schedule-stage
  > .schedule-stage__title
  > h3,
.schedule-stage__wrapper:nth-child(18)
  .schedule-stage
  > .schedule-stage__title
  > h3 {
  background: linear-gradient(
    45deg,
    rgb(255, 82, 82) 70%,
    rgb(110, 32, 32) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
.schedule-stage__title {
  position: sticky;
  left: 0;
  padding-right: 5rem;
  z-index: 100;
  height: 100%;
  padding-left: var(--padding);
  background: linear-gradient(to right, #000000 30%, rgba(0, 0, 0, 0));
}
.schedule-stage__title > h3 {
  font-weight: 900;
}
.schedule-stage_guide-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 280px;
  grid-gap: 2rem;
}
.guide-slot {
  color: grey;
}
.guide-slot > p {
  margin-bottom: 1rem;
}
.guide-slot_card {
  background: #0a0a0a;
  border: 1px solid var(--border);
  border-radius: 0.8rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  padding: 1.6rem;
  cursor: pointer;
  position: relative;
}
.guide-slot_card:hover {
  border-color: #b3b3b3;
}
.guide-slot_card > h4 {
  margin-right: 5rem;
  font-size: 1.4rem;
  color: #ffffff;
}
.author-wrapper {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.author-wrapper > picture {
  display: inline-block;
  inline-size: 2.6rem;
  block-size: 2.6rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
  border: 1px solid var(--border);
}
.author-wrapper > picture > img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}
/* CHECKBOX */

.checkbox.style-b {
  /* display: inline-block; */
  position: absolute;
  right: 20px;
  top: 10px;
  /* padding-left: 30px; */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox.style-b input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* .checkbox.style-b input:checked ~ .checkbox__checkmark {
  background-color: #fff;
} */
.checkbox.style-b input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
}
.checkbox.style-b input ~ .checkbox__checkmark {
  background-color: #000000;
}
/* .checkbox.style-b:hover input:checked ~ .checkbox__checkmark {
  background-color: #fff;
} */
.checkbox.style-b .checkbox__checkmark {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 18px;
  width: 18px;
  /* background-color: #fff; */
  border: 2px solid #ffffff5c;
  transition: background-color 0.25s ease;
  border-radius: 4px;
}
.checkbox.style-b .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 992px) {
  .heading {
    font-size: 3.5rem;
    line-height: 1.1;
    font-weight: 900;
    padding: 10px 0;
  }
  .section-container {
    /* text-align: center; */
    padding: var(--padding);
    background: linear-gradient(to bottom, #000000 5%, rgba(0, 0, 0, 0.211));
    backdrop-filter: blur(3px);
    width: 100%;
    position: relative;
    z-index: 1000;
    top: 0;
  }
  .spacer {
    height: 0;
  }

  .schedule-stage__title > h3 {
    word-wrap: break-word;
    width: 25vw;
    /* text-wrap: wrap; */
    font-size: 2rem;
  }
}
